openapi: 3.2.0
info:
  title: Cloudsmith API (v1) Packages API
  description: The API to the Cloudsmith Service
  termsOfService: https://help.cloudsmith.io
  contact:
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
    email: support@cloudsmith.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
servers:
- url: https://api.cloudsmith.io/
security:
- apikey: []
- basic: []
tags:
- name: Packages
paths:
  /packages/{owner}/{repo}/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: packages_list
      summary: Get a list of all packages associated with repository
      description: Get a list of all packages associated with repository.
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: query
        in: query
        description: A search term for querying names, filenames, versions, distributions, architectures, formats or statuses of packages.
        required: false
        schema:
          type: string
          default: ''
      - name: sort
        in: query
        description: A field for sorting objects in ascending or descending order.
        required: false
        schema:
          type: string
          default: -date
      responses:
        '200':
          description: Retrieved the list of packages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      x-simplified: fields[packages]=stage_str,stage_updated_at,status_reason,status_str,status_updated_at,is_sync_completed,is_sync_failed,is_sync_in_progress,is_copyable,is_deleteable,is_downloadable,is_moveable,is_quarantined,sync_finished_at,sync_progress,distro,distro_version,downloads,cdn_url,filename,format,freeable_storage,license,name,num_files,package_type,policy_violated,repository,security_scan_status,security_scan_completed_at,size,slug,slug_perm,uploaded_at,uploader,version,vulnerability_scan_results_url&fields[distributions]=slug,name
  /packages/{owner}/{repo}/groups/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: packages_groups_list
      summary: Return a list of Package Groups in a repository
      description: Return a list of Package Groups in a repository.
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: group_by
        in: query
        description: 'A field to group packages by. Available options: name, backend_kind.'
        required: false
        schema:
          type: string
          default: name
      - name: hide_subcomponents
        in: query
        description: Whether to hide packages which are subcomponents of another package in the results
        required: false
        schema:
          type: boolean
          default: false
      - name: query
        in: query
        description: A search term for querying names, filenames, versions, distributions, architectures, formats, or statuses of packages.
        required: false
        schema:
          type: string
          default: ''
      - name: sort
        in: query
        description: 'A field for sorting objects in ascending or descending order. Use `-` prefix for descending order (e.g., `-name`). Available options: name, count, num_downloads, size, last_push, backend_kind.'
        required: false
        schema:
          type: string
          default: name
      responses:
        '200':
          description: Retrieved the list of package groups.
          content:
            application/json:
              schema:
                required:
                - results
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackageGroup'
        '404':
          description: Owner namespace or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
  /packages/{owner}/{repo}/upload/alpine/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_alpine
      summary: Create a new Alpine package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlpinePackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlpinePackageUploadRequest'
  /packages/{owner}/{repo}/upload/cargo/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_cargo
      summary: Create a new Cargo package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargoPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CargoPackageUploadRequest'
  /packages/{owner}/{repo}/upload/cocoapods/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_cocoapods
      summary: Create a new CocoaPods package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CocoapodsPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CocoapodsPackageUploadRequest'
  /packages/{owner}/{repo}/upload/composer/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_composer
      summary: Create a new Composer package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComposerPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComposerPackageUploadRequest'
  /packages/{owner}/{repo}/upload/conan/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_conan
      summary: Create a new Conan package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConanPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConanPackageUploadRequest'
  /packages/{owner}/{repo}/upload/conda/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_conda
      summary: Create a new Conda package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CondaPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CondaPackageUploadRequest'
  /packages/{owner}/{repo}/upload/cran/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_cran
      summary: Create a new CRAN package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CranPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CranPackageUploadRequest'
  /packages/{owner}/{repo}/upload/dart/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_dart
      summary: Create a new Dart package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DartPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DartPackageUploadRequest'
  /packages/{owner}/{repo}/upload/deb/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_deb
      summary: Create a new Debian package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebPackageUploadRequest'
  /packages/{owner}/{repo}/upload/docker/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_docker
      summary: Create a new Docker package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DockerPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DockerPackageUploadRequest'
  /packages/{owner}/{repo}/upload/generic/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_generic
      summary: Create a new Generic package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericPackageUploadRequest'
  /packages/{owner}/{repo}/upload/go/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_go
      summary: Create a new Go package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoPackageUploadRequest'
  /packages/{owner}/{repo}/upload/helm/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_helm
      summary: Create a new Helm package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelmPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelmPackageUploadRequest'
  /packages/{owner}/{repo}/upload/hex/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_hex
      summary: Create a new Hex package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HexPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HexPackageUploadRequest'
  /packages/{owner}/{repo}/upload/huggingface/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_huggingface
      summary: Create a new HuggingFace package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HuggingfacePackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HuggingfacePackageUploadRequest'
  /packages/{owner}/{repo}/upload/luarocks/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_luarocks
      summary: Create a new LuaRocks package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LuarocksPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LuarocksPackageUploadRequest'
  /packages/{owner}/{repo}/upload/maven/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_maven
      summary: Create a new Maven package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MavenPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MavenPackageUploadRequest'
  /packages/{owner}/{repo}/upload/mcp/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_mcp
      summary: Create a new MCP package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpPackageUploadRequest'
  /packages/{owner}/{repo}/upload/npm/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_npm
      summary: Create a new npm package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpmPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpmPackageUploadRequest'
  /packages/{owner}/{repo}/upload/nuget/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_nuget
      summary: Create a new NuGet package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NugetPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NugetPackageUploadRequest'
  /packages/{owner}/{repo}/upload/p2/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_p2
      summary: Create a new P2 package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2PackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2PackageUploadRequest'
  /packages/{owner}/{repo}/upload/python/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_python
      summary: Create a new Python package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PythonPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PythonPackageUploadRequest'
  /packages/{owner}/{repo}/upload/raw/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_raw
      summary: Create a new Raw package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawPackageUploadRequest'
  /packages/{owner}/{repo}/upload/rpm/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_rpm
      summary: Create a new RedHat package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RpmPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RpmPackageUploadRequest'
  /packages/{owner}/{repo}/upload/ruby/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_ruby
      summary: Create a new Ruby package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RubyPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RubyPackageUploadRequest'
  /packages/{owner}/{repo}/upload/swift/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_swift
      summary: Create a new Swift package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwiftPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwiftPackageUploadRequest'
  /packages/{owner}/{repo}/upload/terraform/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_terraform
      summary: Create a new Terraform package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerraformPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerraformPackageUploadRequest'
  /packages/{owner}/{repo}/upload/vagrant/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_vagrant
      summary: Create a new Vagrant package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VagrantPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VagrantPackageUploadRequest'
  /packages/{owner}/{repo}/upload/vsx/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_upload_vsx
      summary: Create a new VSX package
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VsxPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VsxPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/alpine/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_alpine
      summary: Validate parameters for create Alpine package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlpinePackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/cargo/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_cargo
      summary: Validate parameters for create Cargo package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CargoPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/cocoapods/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_cocoapods
      summary: Validate parameters for create CocoaPods package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CocoapodsPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/composer/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_composer
      summary: Validate parameters for create Composer package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComposerPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/conan/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_conan
      summary: Validate parameters for create Conan package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConanPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/conda/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_conda
      summary: Validate parameters for create Conda package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CondaPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/cran/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_cran
      summary: Validate parameters for create CRAN package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CranPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/dart/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_dart
      summary: Validate parameters for create Dart package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DartPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/deb/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_deb
      summary: Validate parameters for create Debian package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/docker/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_docker
      summary: Validate parameters for create Docker package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DockerPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/generic/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_generic
      summary: Validate parameters for create Generic package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/go/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_go
      summary: Validate parameters for create Go package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/helm/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_helm
      summary: Validate parameters for create Helm package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelmPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/hex/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_hex
      summary: Validate parameters for create Hex package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HexPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/huggingface/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_huggingface
      summary: Validate parameters for create HuggingFace package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HuggingfacePackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/luarocks/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_luarocks
      summary: Validate parameters for create LuaRocks package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LuarocksPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/maven/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_maven
      summary: Validate parameters for create Maven package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MavenPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/mcp/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_mcp
      summary: Validate parameters for create MCP package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/npm/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_npm
      summary: Validate parameters for create npm package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpmPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/nuget/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_nuget
      summary: Validate parameters for create NuGet package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NugetPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/p2/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_p2
      summary: Validate parameters for create P2 package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2PackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/python/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_python
      summary: Validate parameters for create Python package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PythonPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/raw/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_raw
      summary: Validate parameters for create Raw package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/rpm/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_rpm
      summary: Validate parameters for create RedHat package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RpmPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/ruby/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_ruby
      summary: Validate parameters for create Ruby package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RubyPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/swift/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_swift
      summary: Validate parameters for create Swift package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwiftPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/terraform/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_terraform
      summary: Validate parameters for create Terraform package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerraformPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/vagrant/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_vagrant
      summary: Validate parameters for create Vagrant package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VagrantPackageUploadRequest'
  /packages/{owner}/{repo}/validate-upload/vsx/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_validate-upload_vsx
      summary: Validate parameters for create VSX package
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VsxPackageUploadRequest'
  /packages/{owner}/{repo}/{identifier}/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: packages_read
      summary: Get a specific package in a repository
      description: Get a specific package in a repository.
      responses:
        '200':
          description: Retrieved the specified package successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      x-simplified: fields[packages]=stage_str,stage_updated_at,status_reason,status_str,status_updated_at,is_sync_completed,is_sync_failed,is_sync_in_progress,is_copyable,is_deleteable,is_downloadable,is_moveable,is_quarantined,sync_finished_at,sync_progress,distro,distro_version,downloads,cdn_url,filename,format,freeable_storage,license,name,num_files,package_type,policy_violated,repository,security_scan_status,security_scan_completed_at,size,slug,slug_perm,uploaded_at,uploader,version,vulnerability_scan_results_url&fields[distributions]=slug,name
    delete:
      operationId: packages_delete
      summary: Delete a specific package in a repository
      description: Delete a specific package in a repository.
      responses:
        '204':
          description: Deleted the specified package successfully.
        '400':
          description: The package cannot be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
  /packages/{owner}/{repo}/{identifier}/copy/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_copy
      summary: Copy a package to another repository
      description: Copy a package to another repository.
      responses:
        '200':
          description: Copied specified package to destination repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageCopy'
        '400':
          description: The package is in the wrong state for the requested operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageCopyRequest'
  /packages/{owner}/{repo}/{identifier}/dependencies/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: packages_dependencies
      summary: Get the list of dependencies for a package.
      description: Get the list of dependencies for a package. Transitive dependencies are included where supported.
      responses:
        '200':
          description: Retrieved stored dependencies for specified package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDependencies'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
  /packages/{owner}/{repo}/{identifier}/move/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_move
      summary: Move a package to another repository
      description: Move a package to another repository.
      responses:
        '200':
          description: Moved specified package to destination repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageMove'
        '400':
          description: The package is in the wrong state for the requested operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageMoveRequest'
  /packages/{owner}/{repo}/{identifier}/quarantine/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_quarantine
      summary: Quarantine or release a package
      description: Quarantine or release a package.
      responses:
        '200':
          description: Changed the package's quarantine status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageQuarantine'
        '400':
          description: The package is in the wrong state for the requested operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageQuarantineRequest'
  /packages/{owner}/{repo}/{identifier}/resync/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_resync
      summary: Schedule a package for resynchronisation
      description: Schedule a package for resynchronisation.
      responses:
        '200':
          description: Scheduled the package for resynchronisation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResync'
        '400':
          description: The package is in the wrong state for the requested operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
  /packages/{owner}/{repo}/{identifier}/scan/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_scan
      summary: Schedule a package for scanning
      description: Schedule a package for scanning.
      responses:
        '200':
          description: Scheduled the package for scanning.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
  /packages/{owner}/{repo}/{identifier}/status/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: packages_status
      summary: Get the synchronization status for a package
      description: Get the synchronization status for a package.
      responses:
        '200':
          description: Retrieved status for specified package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageStatus'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
  /packages/{owner}/{repo}/{identifier}/tag/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: packages_tag
      summary: Add/Replace/Remove tags for a package
      description: Add/Replace/Remove tags for a package.
      responses:
        '200':
          description: Modified tags for the package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageTagRequest'
  /packages/{owner}/{repo}/{identifier}/update-license/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    - name: repo
      in: path
      required: true
      schema:
        type: string
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    patch:
      operationId: packages_update_license
      summary: Update the license for a package
      description: Update the license for a package.
      responses:
        '200':
          description: Modified tags for the package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Packages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageLicenseRequestPatch'
components:
  schemas:
    DockerPackageUpload:
      type: object
      properties:
        architectures:
          type: array
          items:
            $ref: '#/components/schemas/Architecture'
          readOnly: true
        cdn_url:
          title: Cdn url
          type:
          - string
          - 'null'
          readOnly: true
        checksum_md5:
          title: Checksum md5
          type: string
          readOnly: true
        checksum_sha1:
          title: Checksum sha1
          type: string
          readOnly: true
        checksum_sha256:
          title: Checksum sha256
          type: string
          readOnly: true
        checksum_sha512:
          title: Checksum sha512
          type: string
          readOnly: true
        dependencies_checksum_md5:
          title: Dependencies checksum md5
          description: A checksum of all of the package's dependencies.
          type:
          - string
          - 'null'
          readOnly: true
        dependencies_url:
          title: Dependencies url
          type: string
          format: uri
          readOnly: true
        description:
          title: Description
          description: A textual description of this package.
          type:
          - string
          - 'null'
          readOnly: true
        display_name:
          title: Display name
          type: string
          readOnly: true
        distro:
          $ref: '#/components/schemas/Distribution'
        distro_version:
          $ref: '#/components/schemas/DistributionVersion'
        downloads:
          title: Downloads
          type: integer
          readOnly: true
        epoch:
          title: Epoch
          description: The epoch of the package version (if any).
          type:
          - integer
          - 'null'
          readOnly: true
        extension:
          title: Extension
          type: string
          readOnly: true
        filename:
          title: Filename
          type: string
          readOnly: true
          minLength: 1
        files:
          type: array
          items:
            $ref: '#/components/schemas/PackageFile'
          readOnly: true
        format:
          title: Format
          type: string
          readOnly: true
          minLength: 1
        format_url:
          title: Format url
          type: string
          format: uri
          readOnly: true
        freeable_storage:
          title: Freeable storage
          description: Amount of storage that will be freed if this package is deleted
          type: integer
          readOnly: true
        fully_qualified_name:
          title: Fully qualified name
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        identifier_perm:
          title: Identifier perm
          description: Unique and permanent identifier for the package.
          type: string
          readOnly: true
          minLength: 1
        identifiers:
          title: Identifiers
          description: Return a map of identifier field names and their values.
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
[...]
