swagger: '2.0'
info:
  title: Cloudsmith API (v1) audit-log badges API
  description: The API to the Cloudsmith Service
  termsOfService: https://help.cloudsmith.io
  contact:
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
    email: support@cloudsmith.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
host: api.cloudsmith.io
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- apikey: []
- basic: []
tags:
- name: badges
paths:
  /badges/version/{owner}/{repo}/{package_format}/{package_name}/{package_version}/{package_identifiers}/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: package_format
      in: path
      required: true
      type: string
    - name: package_name
      in: path
      required: true
      type: string
    - name: package_version
      in: path
      required: true
      type: string
    - name: package_identifiers
      in: path
      required: true
      type: string
    get:
      operationId: badges_version_list
      summary: Get latest package version for a package or package group.
      description: Get latest package version for a package or package group.
      parameters:
      - name: badge_token
        in: query
        description: Badge token to authenticate for private packages
        required: false
        type: string
        default: ''
      - name: cacheSeconds
        in: query
        description: Override the shields.io badge cacheSeconds value.
        required: false
        type: string
        default: '300'
      - name: color
        in: query
        description: Override the shields.io badge color value.
        required: false
        type: string
        default: 12577E
      - name: label
        in: query
        description: Override the shields.io badge label value.
        required: false
        type: string
        default: cloudsmith
      - name: labelColor
        in: query
        description: Override the shields.io badge labelColor value.
        required: false
        type: string
        default: 021F2F
      - name: logoColor
        in: query
        description: Override the shields.io badge logoColor value.
        required: false
        type: string
        default: 45B6EE
      - name: logoWidth
        in: query
        description: Override the shields.io badge logoWidth value.
        required: false
        type: string
        default: '10'
      - name: render
        in: query
        description: If true, badge will be rendered
        required: false
        type: boolean
        default: false
      - name: shields
        in: query
        description: If true, a shields response will be generated
        required: false
        type: boolean
        default: false
      - name: show_latest
        in: query
        description: If true, for latest version badges a '(latest)' suffix is added
        required: false
        type: boolean
        default: false
      - name: style
        in: query
        description: Override the shields.io badge style value.
        required: false
        type: string
        default: flat-square
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PackageVersionBadge'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - badges
definitions:
  PackageVersionBadge:
    type: object
    properties: {}
  ErrorDetail:
    required:
    - detail
    type: object
    properties:
      detail:
        title: Detail
        description: An extended message for the response.
        type: string
        minLength: 1
      fields:
        title: Fields
        description: 'A Dictionary of related errors where key: Field and value: Array of Errors related to that field'
        type: object
        additionalProperties:
          type: array
          items:
            type: string
            minLength: 1
securityDefinitions:
  apikey:
    type: apiKey
    name: X-Api-Key
    in: header
  basic:
    type: basic
