swagger: '2.0'
info:
  title: Cloudsmith API (v1) audit-log distros API
  description: The API to the Cloudsmith Service
  termsOfService: https://help.cloudsmith.io
  contact:
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
    email: support@cloudsmith.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
host: api.cloudsmith.io
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- apikey: []
- basic: []
tags:
- name: distros
paths:
  /distros/:
    parameters: []
    get:
      operationId: distros_list
      summary: Get a list of all supported distributions.
      description: Get a list of all supported distributions.
      parameters: []
      responses:
        '200':
          description: Available package formats retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/DistributionFull'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - distros
      x-simplified: fields[distributions]=slug,name
  /distros/{slug}/:
    parameters:
    - name: slug
      in: path
      required: true
      type: string
    get:
      operationId: distros_read
      summary: View for viewing/listing distributions.
      description: View for viewing/listing distributions.
      parameters: []
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DistributionFull'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - distros
      x-simplified: fields[distributions]=slug,name
definitions:
  ErrorDetail:
    required:
    - detail
    type: object
    properties:
      detail:
        title: Detail
        description: An extended message for the response.
        type: string
        minLength: 1
      fields:
        title: Fields
        description: 'A Dictionary of related errors where key: Field and value: Array of Errors related to that field'
        type: object
        additionalProperties:
          type: array
          items:
            type: string
            minLength: 1
  DistributionVersion:
    description: A list of the versions for this distribution
    type: object
    properties:
      name:
        title: Name
        description: The textual name for this version.
        type: string
        maxLength: 64
      slug:
        title: Slug
        description: The slug identifier for this version
        type: string
        readOnly: true
        minLength: 1
  DistributionFull:
    required:
    - name
    type: object
    properties:
      format:
        title: Format
        type: string
        readOnly: true
        minLength: 1
      format_url:
        title: Format url
        type: string
        format: uri
        readOnly: true
      name:
        title: Name
        type: string
        maxLength: 32
        minLength: 1
      self_url:
        title: Self url
        type: string
        format: uri
        readOnly: true
      slug:
        title: Slug
        description: The slug identifier for this distribution
        type: string
        readOnly: true
        minLength: 1
      variants:
        title: Variants
        type: string
        maxLength: 128
        x-nullable: true
      versions:
        description: A list of the versions for this distribution
        type: array
        items:
          $ref: '#/definitions/DistributionVersion'
        readOnly: true
securityDefinitions:
  apikey:
    type: apiKey
    name: X-Api-Key
    in: header
  basic:
    type: basic
