openapi: 3.2.0
info:
  title: Cloudsmith API (v1) Quota API
  description: The API to the Cloudsmith Service
  termsOfService: https://help.cloudsmith.io
  contact:
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
    email: support@cloudsmith.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
servers:
- url: https://api.cloudsmith.io/
security:
- apikey: []
- basic: []
tags:
- name: Quota
paths:
  /quota/history/{owner}/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: quota_history_read
      summary: Quota history for a given namespace
      description: Quota history for a given namespace.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaHistory'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Quota
  /quota/oss/history/{owner}/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: quota_oss_history_read
      summary: Open-source Quota history for a given namespace
      description: Open-source Quota history for a given namespace.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaHistory'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Quota
  /quota/oss/{owner}/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: quota_oss_read
      summary: Open-source Quota usage for a given namespace
      description: Open-source Quota usage for a given namespace.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Quota
  /quota/{owner}/:
    parameters:
    - name: owner
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: quota_read
      summary: Quota usage for a given namespace
      description: Quota usage for a given namespace.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
        '400':
          description: Request could not be processed (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
      tags:
      - Quota
components:
  schemas:
    HistoryFieldset:
      required:
      - downloaded
      - storage_used
      - uploaded
      type: object
      properties:
        downloaded:
          $ref: '#/components/schemas/Usage'
        storage_used:
          $ref: '#/components/schemas/StorageUsage'
        uploaded:
          $ref: '#/components/schemas/Usage'
    UsageFieldset:
      required:
      - display
      - raw
      type: object
      properties:
        display:
          $ref: '#/components/schemas/UsageLimits'
        raw:
          $ref: '#/components/schemas/UsageLimitsRaw'
    StorageUsageRaw:
      type: object
      properties:
        limit:
          title: Limit
          type: integer
        peak:
          title: Peak
          type: integer
        percentage:
          title: Percentage
          type: string
          format: decimal
        used:
          title: Used
          type: integer
    StorageAllocatedLimit:
      type: object
      properties:
        configured:
          title: Configured
          type: string
          maxLength: 32
          minLength: 1
        peak:
          title: Peak
          type: string
          maxLength: 32
          minLength: 1
        percentage_used:
          title: Percentage used
          type: string
          maxLength: 10
          minLength: 1
        plan_limit:
          title: Plan limit
          type: string
          maxLength: 32
          minLength: 1
        used:
          title: Used
          type: string
          maxLength: 32
          minLength: 1
        used_pre_deduplication:
          title: Used pre deduplication
          type: string
          maxLength: 32
          minLength: 1
    UsageRaw:
      type: object
      properties:
        limit:
          title: Limit
          type: integer
        percentage:
          title: Percentage
          type: string
          format: decimal
        used:
          title: Used
          type: integer
    AllocatedLimitRaw:
      type: object
      properties:
        configured:
          title: Configured
          type: integer
        percentage_used:
          title: Percentage used
          type: string
          format: decimal
        plan_limit:
          title: Plan limit
          type: integer
        used:
          title: Used
          type: integer
    UsageLimits:
      required:
      - bandwidth
      - storage
      type: object
      properties:
        bandwidth:
          $ref: '#/components/schemas/AllocatedLimit'
        storage:
          $ref: '#/components/schemas/StorageAllocatedLimit'
    Quota:
      required:
      - usage
      type: object
      properties:
        usage:
          $ref: '#/components/schemas/UsageFieldset'
    ErrorDetail:
      required:
      - detail
      type: object
      properties:
        detail:
          title: Detail
          description: An extended message for the response.
          type: string
          minLength: 1
        fields:
          title: Fields
          description: 'A Dictionary of related errors where key: Field and value: Array of Errors related to that field'
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              minLength: 1
    AllocatedLimit:
      type: object
      properties:
        configured:
          title: Configured
          type: string
          maxLength: 32
          minLength: 1
        percentage_used:
          title: Percentage used
          type: string
          maxLength: 10
          minLength: 1
        plan_limit:
          title: Plan limit
          type: string
          maxLength: 32
          minLength: 1
        used:
          title: Used
          type: string
          maxLength: 32
          minLength: 1
    HistoryFieldsetRaw:
      required:
      - downloaded
      - storage_used
      - uploaded
      type: object
      properties:
        downloaded:
          $ref: '#/components/schemas/UsageRaw'
        storage_used:
          $ref: '#/components/schemas/StorageUsageRaw'
        uploaded:
          $ref: '#/components/schemas/UsageRaw'
    StorageUsage:
      type: object
      properties:
        limit:
          title: Limit
          type: string
          maxLength: 32
          minLength: 1
        peak:
          title: Peak
          type: string
          maxLength: 32
          minLength: 1
        percentage:
          title: Percentage
          type: string
          maxLength: 10
          minLength: 1
        used:
          title: Used
          type: string
          maxLength: 32
          minLength: 1
    History:
      required:
      - display
      - end
      - plan
      - raw
      - start
      type: object
      properties:
        days:
          title: Days
          type: integer
          default: 0
        display:
          $ref: '#/components/schemas/HistoryFieldset'
        end:
          title: End
          type: string
          format: date-time
        plan:
          title: Plan
          type: string
          maxLength: 64
          minLength: 1
        raw:
          $ref: '#/components/schemas/HistoryFieldsetRaw'
        start:
          title: Start
          type: string
          format: date-time
    StorageAllocatedLimitRaw:
      type: object
      properties:
        configured:
          title: Configured
          type: integer
        peak:
          title: Peak
          type: integer
        percentage_used:
          title: Percentage used
          type: string
          format: decimal
        plan_limit:
          title: Plan limit
          type: integer
        used:
          title: Used
          type: integer
        used_pre_deduplication:
          title: Used pre deduplication
          type: integer
    QuotaHistory:
      required:
      - history
      type: object
      properties:
        history:
          type: array
          items:
            $ref: '#/components/schemas/History'
    UsageLimitsRaw:
      required:
      - bandwidth
      - storage
      type: object
      properties:
        bandwidth:
          $ref: '#/components/schemas/AllocatedLimitRaw'
        storage:
          $ref: '#/components/schemas/StorageAllocatedLimitRaw'
    Usage:
      type: object
      properties:
        limit:
          title: Limit
          type: string
          maxLength: 32
          minLength: 1
        percentage:
          title: Percentage
          type: string
          maxLength: 10
          minLength: 1
        used:
          title: Used
          type: string
          maxLength: 32
          minLength: 1
  securitySchemes:
    apikey:
      type: apiKey
      name: X-Api-Key
      in: header
    basic:
      type: http
      scheme: basic
