swagger: '2.0'
info:
  title: Cloudsmith API (v1) audit-log packages API
  description: The API to the Cloudsmith Service
  termsOfService: https://help.cloudsmith.io
  contact:
    name: Cloudsmith Support
    url: https://help.cloudsmith.io
    email: support@cloudsmith.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
host: api.cloudsmith.io
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- apikey: []
- basic: []
tags:
- name: packages
paths:
  /packages/{owner}/{repo}/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    get:
      operationId: packages_list
      summary: Get a list of all packages associated with repository.
      description: Get a list of all packages associated with repository.
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: query
        in: query
        description: A search term for querying names, filenames, versions, distributions, architectures, formats or statuses of packages.
        required: false
        type: string
        default: ''
      - name: sort
        in: query
        description: A field for sorting objects in ascending or descending order.
        required: false
        type: string
        default: -date
      responses:
        '200':
          description: Retrieved the list of packages
          schema:
            type: array
            items:
              $ref: '#/definitions/Package'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
      x-simplified: fields[packages]=stage_str,stage_updated_at,status_reason,status_str,status_updated_at,is_sync_completed,is_sync_failed,is_sync_in_progress,is_copyable,is_deleteable,is_downloadable,is_moveable,is_quarantined,sync_finished_at,sync_progress,distro,distro_version,downloads,cdn_url,filename,format,freeable_storage,license,name,num_files,package_type,policy_violated,repository,security_scan_status,security_scan_completed_at,size,slug,slug_perm,uploaded_at,uploader,version,vulnerability_scan_results_url&fields[distributions]=slug,name
  /packages/{owner}/{repo}/groups/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    get:
      operationId: packages_groups_list
      summary: Return a list of Package Groups in a repository.
      description: Return a list of Package Groups in a repository.
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: group_by
        in: query
        description: 'A field to group packages by. Available options: name, backend_kind.'
        required: false
        type: string
        default: name
      - name: hide_subcomponents
        in: query
        description: Whether to hide packages which are subcomponents of another package in the results
        required: false
        type: boolean
        default: false
      - name: query
        in: query
        description: A search term for querying names, filenames, versions, distributions, architectures, formats, or statuses of packages.
        required: false
        type: string
        default: ''
      - name: sort
        in: query
        description: 'A field for sorting objects in ascending or descending order. Use `-` prefix for descending order (e.g., `-name`). Available options: name, count, num_downloads, size, last_push, backend_kind.'
        required: false
        type: string
        default: name
      responses:
        '200':
          description: Retrieved the list of package groups.
          schema:
            required:
            - results
            type: object
            properties:
              results:
                type: array
                items:
                  $ref: '#/definitions/PackageGroup'
        '404':
          description: Owner namespace or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/alpine/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_alpine
      summary: Create a new Alpine package
      description: Create a new Alpine package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/AlpinePackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/AlpinePackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/cargo/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_cargo
      summary: Create a new Cargo package
      description: Create a new Cargo package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/CargoPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/CargoPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/cocoapods/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_cocoapods
      summary: Create a new CocoaPods package
      description: Create a new CocoaPods package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/CocoapodsPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/CocoapodsPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/composer/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_composer
      summary: Create a new Composer package
      description: Create a new Composer package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/ComposerPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/ComposerPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/conan/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_conan
      summary: Create a new Conan package
      description: Create a new Conan package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/ConanPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/ConanPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/conda/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_conda
      summary: Create a new Conda package
      description: Create a new Conda package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/CondaPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/CondaPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/cran/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_cran
      summary: Create a new CRAN package
      description: Create a new CRAN package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/CranPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/CranPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/dart/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_dart
      summary: Create a new Dart package
      description: Create a new Dart package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/DartPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/DartPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/deb/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_deb
      summary: Create a new Debian package
      description: Create a new Debian package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/DebPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/DebPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/docker/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_docker
      summary: Create a new Docker package
      description: Create a new Docker package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/DockerPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/DockerPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/generic/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_generic
      summary: Create a new Generic package
      description: Create a new Generic package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/GenericPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/GenericPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/go/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_go
      summary: Create a new Go package
      description: Create a new Go package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/GoPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/GoPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/helm/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_helm
      summary: Create a new Helm package
      description: Create a new Helm package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/HelmPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/HelmPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/hex/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_hex
      summary: Create a new Hex package
      description: Create a new Hex package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/HexPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/HexPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/huggingface/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_huggingface
      summary: Create a new HuggingFace package
      description: Create a new HuggingFace package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/HuggingfacePackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/HuggingfacePackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/luarocks/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_luarocks
      summary: Create a new LuaRocks package
      description: Create a new LuaRocks package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/LuarocksPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/LuarocksPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/maven/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_maven
      summary: Create a new Maven package
      description: Create a new Maven package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/MavenPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/MavenPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/mcp/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_mcp
      summary: Create a new MCP package
      description: Create a new MCP package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/McpPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/McpPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/npm/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_npm
      summary: Create a new npm package
      description: Create a new npm package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/NpmPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/NpmPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/nuget/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_nuget
      summary: Create a new NuGet package
      description: Create a new NuGet package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/NugetPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/NugetPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/p2/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_p2
      summary: Create a new P2 package
      description: Create a new P2 package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/P2PackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/P2PackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/python/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_python
      summary: Create a new Python package
      description: Create a new Python package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/PythonPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/PythonPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/raw/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_raw
      summary: Create a new Raw package
      description: Create a new Raw package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/RawPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/RawPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/rpm/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_rpm
      summary: Create a new RedHat package
      description: Create a new RedHat package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/RpmPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/RpmPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/ruby/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_ruby
      summary: Create a new Ruby package
      description: Create a new Ruby package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/RubyPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/RubyPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/swift/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_swift
      summary: Create a new Swift package
      description: Create a new Swift package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/SwiftPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/SwiftPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/terraform/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_terraform
      summary: Create a new Terraform package
      description: Create a new Terraform package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/TerraformPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/TerraformPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/vagrant/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_vagrant
      summary: Create a new Vagrant package
      description: Create a new Vagrant package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/VagrantPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/VagrantPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/upload/vsx/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_upload_vsx
      summary: Create a new VSX package
      description: Create a new VSX package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/VsxPackageUploadRequest'
      responses:
        '201':
          description: Upload acknowledged and queued for synchronization.
          schema:
            $ref: '#/definitions/VsxPackageUpload'
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/alpine/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_alpine
      summary: Validate parameters for create Alpine package
      description: Validate parameters for create Alpine package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/AlpinePackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/cargo/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_cargo
      summary: Validate parameters for create Cargo package
      description: Validate parameters for create Cargo package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/CargoPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/cocoapods/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_cocoapods
      summary: Validate parameters for create CocoaPods package
      description: Validate parameters for create CocoaPods package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/CocoapodsPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/composer/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_composer
      summary: Validate parameters for create Composer package
      description: Validate parameters for create Composer package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/ComposerPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/conan/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_conan
      summary: Validate parameters for create Conan package
      description: Validate parameters for create Conan package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/ConanPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/conda/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_conda
      summary: Validate parameters for create Conda package
      description: Validate parameters for create Conda package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/CondaPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/cran/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_cran
      summary: Validate parameters for create CRAN package
      description: Validate parameters for create CRAN package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/CranPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/dart/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_dart
      summary: Validate parameters for create Dart package
      description: Validate parameters for create Dart package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/DartPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/deb/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_deb
      summary: Validate parameters for create Debian package
      description: Validate parameters for create Debian package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/DebPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/docker/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_docker
      summary: Validate parameters for create Docker package
      description: Validate parameters for create Docker package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/DockerPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/generic/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_generic
      summary: Validate parameters for create Generic package
      description: Validate parameters for create Generic package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/GenericPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/go/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_go
      summary: Validate parameters for create Go package
      description: Validate parameters for create Go package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/GoPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/helm/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_helm
      summary: Validate parameters for create Helm package
      description: Validate parameters for create Helm package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/HelmPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/hex/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_hex
      summary: Validate parameters for create Hex package
      description: Validate parameters for create Hex package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/HexPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/huggingface/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_huggingface
      summary: Validate parameters for create HuggingFace package
      description: Validate parameters for create HuggingFace package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/HuggingfacePackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/luarocks/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_luarocks
      summary: Validate parameters for create LuaRocks package
      description: Validate parameters for create LuaRocks package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/LuarocksPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/maven/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_maven
      summary: Validate parameters for create Maven package
      description: Validate parameters for create Maven package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/MavenPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/mcp/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_mcp
      summary: Validate parameters for create MCP package
      description: Validate parameters for create MCP package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/McpPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/npm/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_npm
      summary: Validate parameters for create npm package
      description: Validate parameters for create npm package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/NpmPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/nuget/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_nuget
      summary: Validate parameters for create NuGet package
      description: Validate parameters for create NuGet package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/NugetPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/p2/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_p2
      summary: Validate parameters for create P2 package
      description: Validate parameters for create P2 package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/P2PackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/python/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_python
      summary: Validate parameters for create Python package
      description: Validate parameters for create Python package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/PythonPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/raw/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_raw
      summary: Validate parameters for create Raw package
      description: Validate parameters for create Raw package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/RawPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/rpm/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_rpm
      summary: Validate parameters for create RedHat package
      description: Validate parameters for create RedHat package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/RpmPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/ruby/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_ruby
      summary: Validate parameters for create Ruby package
      description: Validate parameters for create Ruby package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/RubyPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/swift/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_swift
      summary: Validate parameters for create Swift package
      description: Validate parameters for create Swift package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/SwiftPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/terraform/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_terraform
      summary: Validate parameters for create Terraform package
      description: Validate parameters for create Terraform package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/TerraformPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/vagrant/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_vagrant
      summary: Validate parameters for create Vagrant package
      description: Validate parameters for create Vagrant package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/VagrantPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/validate-upload/vsx/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    post:
      operationId: packages_validate-upload_vsx
      summary: Validate parameters for create VSX package
      description: Validate parameters for create VSX package
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/VsxPackageUploadRequest'
      responses:
        '204':
          description: Validation was successful, parameters are OK.
        '404':
          description: Namespace (owner) or repository not found
          schema:
            $ref: '#/definitions/ErrorDetail'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    get:
      operationId: packages_read
      summary: Get a specific package in a repository.
      description: Get a specific package in a repository.
      parameters: []
      responses:
        '200':
          description: Retrieved the specified package successfully.
          schema:
            $ref: '#/definitions/Package'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
      x-simplified: fields[packages]=stage_str,stage_updated_at,status_reason,status_str,status_updated_at,is_sync_completed,is_sync_failed,is_sync_in_progress,is_copyable,is_deleteable,is_downloadable,is_moveable,is_quarantined,sync_finished_at,sync_progress,distro,distro_version,downloads,cdn_url,filename,format,freeable_storage,license,name,num_files,package_type,policy_violated,repository,security_scan_status,security_scan_completed_at,size,slug,slug_perm,uploaded_at,uploader,version,vulnerability_scan_results_url&fields[distributions]=slug,name
    delete:
      operationId: packages_delete
      summary: Delete a specific package in a repository.
      description: Delete a specific package in a repository.
      parameters: []
      responses:
        '204':
          description: Deleted the specified package successfully.
        '400':
          description: The package cannot be deleted.
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/copy/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    post:
      operationId: packages_copy
      summary: Copy a package to another repository.
      description: Copy a package to another repository.
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/PackageCopyRequest'
      responses:
        '200':
          description: Copied specified package to destination repository.
          schema:
            $ref: '#/definitions/PackageCopy'
        '400':
          description: The package is in the wrong state for the requested operation.
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/dependencies/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    get:
      operationId: packages_dependencies
      summary: Get the list of dependencies for a package. Transitive dependencies are included where supported.
      description: Get the list of dependencies for a package. Transitive dependencies are included where supported.
      parameters: []
      responses:
        '200':
          description: Retrieved stored dependencies for specified package.
          schema:
            $ref: '#/definitions/PackageDependencies'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/move/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    post:
      operationId: packages_move
      summary: Move a package to another repository.
      description: Move a package to another repository.
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/PackageMoveRequest'
      responses:
        '200':
          description: Moved specified package to destination repository.
          schema:
            $ref: '#/definitions/PackageMove'
        '400':
          description: The package is in the wrong state for the requested operation.
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/quarantine/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    post:
      operationId: packages_quarantine
      summary: Quarantine or release a package.
      description: Quarantine or release a package.
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/PackageQuarantineRequest'
      responses:
        '200':
          description: Changed the package's quarantine status.
          schema:
            $ref: '#/definitions/PackageQuarantine'
        '400':
          description: The package is in the wrong state for the requested operation.
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/resync/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    post:
      operationId: packages_resync
      summary: Schedule a package for resynchronisation.
      description: Schedule a package for resynchronisation.
      parameters: []
      responses:
        '200':
          description: Scheduled the package for resynchronisation.
          schema:
            $ref: '#/definitions/PackageResync'
        '400':
          description: The package is in the wrong state for the requested operation.
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/scan/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    post:
      operationId: packages_scan
      summary: Schedule a package for scanning.
      description: Schedule a package for scanning.
      parameters: []
      responses:
        '200':
          description: Scheduled the package for scanning.
          schema:
            $ref: '#/definitions/Package'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/status/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    get:
      operationId: packages_status
      summary: Get the synchronization status for a package.
      description: Get the synchronization status for a package.
      parameters: []
      responses:
        '200':
          description: Retrieved status for specified package.
          schema:
            $ref: '#/definitions/PackageStatus'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/tag/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    post:
      operationId: packages_tag
      summary: Add/Replace/Remove tags for a package.
      description: Add/Replace/Remove tags for a package.
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/PackageTagRequest'
      responses:
        '200':
          description: Modified tags for the package.
          schema:
            $ref: '#/definitions/Package'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
  /packages/{owner}/{repo}/{identifier}/update-license/:
    parameters:
    - name: owner
      in: path
      required: true
      type: string
    - name: repo
      in: path
      required: true
      type: string
    - name: identifier
      in: path
      required: true
      type: string
    patch:
      operationId: packages_update_license
      summary: Update the license for a package.
      description: Update the license for a package.
      parameters:
      - name: data
        in: body
        required: false
        schema:
          $ref: '#/definitions/PackageLicenseRequestPatch'
      responses:
        '200':
          description: Modified tags for the package.
          schema:
            $ref: '#/definitions/Package'
        '400':
          description: Request could not be processed (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
        '422':
          description: Missing or invalid parameters (see detail).
          schema:
            $ref: '#/definitions/ErrorDetail'
      tags:
      - packages
definitions:
  ErrorDetail:
    required:
    - detail
    type: object
    properties:
      detail:
        title: Detail
        description: An extended message for the response.
        type: string
        minLength: 1
      fields:
        title: Fields
        description: 'A Dictionary of related errors where key: Field and value: Array of Errors related to that field'
        type: object
        additionalProperties:
          type: array
          items:
            type: string
            minLength: 1
  VagrantPackageUpload:
    required:
    - name
    - provider
    - version
    type: object
    properties:
      architectures:
        type: array
        items:
          $ref: '#/definitions/Architecture'
        readOnly: true
      cdn_url:
        title: Cdn url
        type: string
        readOnly: true
        x-nullable: true
      checksum_md5:
        title: Checksum md5
        type: string
        readOnly: true
      checksum_sha1:
        title: Checksum sha1
        type: string
        readOnly: true
      checksum_sha256:
        title: Checksum sha256
        type: string
        readOnly: true
      checksum_sha512:
        title: Checksum sha512
        type: string
        readOnly: true
      dependencies_checksum_md5:
        title: Dependencies checksum md5
        description: A checksum of all of the package's dependencies.
        type: string
        readOnly: true
        x-nullable: true
      dependencies_url:
        title: Dependencies url
        type: string
        format: uri
        readOnly: true
      description:
        title: Description
        description: A textual description of this package.
        type: string
        readOnly: true
        x-nullable: true
      display_name:
        title: Display name
        type: string
        readOnly: true
      distro:
        $ref: '#/definitions/Distribution'
      distro_version:
        $ref: '#/definitions/DistributionVersion'
      downloads:
        title: Downloads
        type: integer
        readOnly: true
      epoch:
        title: Epoch
        description: The epoch of the package version (if any).
        type: integer
        readOnly: true
        x-nullable: true
      extension:
        title: Extension
        type: string
        readOnly: true
      filename:
        title: Filename
        type: string
        readOnly: true
        minLength: 1
      files:
        type: array
        items:
          $ref: '#/definitions/PackageFile'
        readOnly: true
      format:
        title: Format
        type: string
        readOnly: true
        minLength: 1
      format_url:
        title: Format url
        type: string
        format: uri
        readOnly: true
      freeable_storage:
        title: Freeable storage
        description: Amount of storage that will be freed if this package is deleted
        type: integer
        readOnly: true
      fully_qualified_name:
        title: Fully qualified name
        type: string
        readOnly: true
        minLength: 1
        x-nullable: true
      identifier_perm:
        title: Identifier perm
        description: Unique and permanent identifier for the package.
        type: string
        readOnly: true
        minLength: 1
      identifiers:
        title: Identifiers
        description: Return a map of identifier field names and their values.
        type: object
        additionalProperties:
          type: string
          x-nullable: true
        readOnly: true
      indexed:
        title: Indexed
        type: boolean
        readOnly: true
      is_cancellable:
        title: Is cancellable
        type: boolean
        readOnly: true
      is_copyable:
        title: Is copyable
        type: boolean
        readOnly: true
      is_deleteable:
        title: Is deleteable
        type: boolean
        readOnly: true
      is_downloadable:
        title: Is downloadable
        type: boolean
        readOnly: true
      is_moveable:
        title: Is moveable
        type: boolean
        readOnly: true
      is_quarantinable:
        title: Is quarantinable
        type: boolean
        readOnly: true
      is_quarantined:
        title: Is quarantined
        type: boolean
        readOnly: true
      is_resyncable:
        title: Is resyncable
        type: boolean
        readOnly: true
      is_security_scannable:
        title: Is security scannable
        type: boolean
        readOnly: true
      is_sync_awaiting:
        title: Is sync awaiting
        type: boolean
        readOnly: true
      is_sync_completed:
        title: Is sync completed
        type: boolean
        readOnly: true
      is_sync_failed:
        title: Is sync failed
        type: boolean
        readOnly: true
      is_sync_in_flight:
        title: Is sync in flight
        type: boolean
        readOnly: true
      is_sync_in_progress:
        title: Is sync in progress
        type: boolean
        readOnly: true
      license:
        title: License
        description: The license of this package.
        type: string
        readOnly: true
        x-nullable: true
      name:
        title: Name
        description: The name of this package.
        type: string
        maxLength: 200
      namespace:
        title: Namespace
        type: string
        readOnly: true
        minLength: 1
      namespace_url:
        title: Namespace url
        type: string
        format: uri
        readOnly: true
      num_files:
        title: Num files
        type: integer
        readOnly: true
      origin_repository:
        title: Origin repository
        type: string
        readOnly: true
        minLength: 1
      origin_repository_url:
        title: Origin repository url
        type: string
        format: uri
        readOnly: true
      package_type:
        title: Package type
        description: The type of package contents.
        type: integer
        enum:
        - 1
        - 2
        - 3
        - 9
        readOnly: true
      policy_violated:
        title: Policy violated
        description: Whether or not the package has violated any policy.
        type: boolean
        readOnly: true
      provider:
        title: Provider
        description: The virtual machine provider for the box.
        type: string
        minLength: 1
      raw_license:
        title: Raw license
        description: The raw license string.
        type: string
        readOnly: true
        minLength: 1
        x-nullable: true
      release:
        title: Release
        description: The release of the package version (if any).
        type: string
        readOnly: true
        x-nullable: true
      repository:
        title: Repository
        type: string
        readOnly: true
        minLength: 1
      repository_url:
        title: Repository url
        type: string
        format: uri
        readOnly: true
      security_scan_completed_at:
        title: Security scan completed at
        description: The datetime the security scanning was completed.
        type: string
        format: date-time
        readOnly: true
        x-nullable: true
      security_scan_started_at:
        title: Security scan started at
        description: The datetime the security scanning was started.
        type: string
        format: date-time
        readOnly: true
        x-nullable: true
      security_scan_status:
        title: Security scan status
        type: string
        enum:
        - Awaiting Security Scan
        - Security Scanning in Progress
        - Scan Detected Vulnerabilities
        - Scan Detected No Vulnerabilities
        - Security Scanning Disabled
        - Security Scanning Failed
        - Security Scanning Skipped
        - Security Scanning Not Supported
        readOnly: true
        default: Awaiting Security Scan
        x-nullable: true
      security_scan_status_updated_at:
        title: Security scan status updated at
        description: The datetime the security scanning status was updated.
        type: string
        format: date-time
        readOnly: true
        x-nullable: true
      self_html_url:
        title: Self html url
        type: string
        readOnly: true
        minLength: 1
      self_url:
        title: Self url
        type: string
        format: uri
        readOnly: true
      self_webapp_url:
        title: Self webapp url
        type: string
        readOnly: true
        minLength: 1
      signature_url:
        title: Signature url
        type: string
        readOnly: true
        x-nullable: true
      size:
        title: Size
        description: The calculated size of the package.
        type: integer
        readOnly: true
      slug:
        title: Slug
        description: The public unique identifier for the package.
        type: string
        format: slug
        pattern: ^[-a-zA-Z0-9_]+$
        readOnly: true
        minLength: 1
      slug_perm:
        title: Slug perm
        type: string
        format: slug
        pattern: ^[-a-zA-Z0-9_]+$
        readOnly: true
        minLength: 1
      spdx_license:
        title: Spdx license
        description: The SPDX license identifier for this package.
        type: string
        readOnly: true
        minLength: 1
        x-nullable: true
      stage:
        title: Stage
        description: The synchronisation (in progress) stage of the package.
        type: integer
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        readOnly: true
      stage_str:
        title: Stage str
        type: string
        readOnly: true
      stage_updated_at:
        title: Stage updated at
        description: The datetime the package stage was updated at.
        type: string
        format: date-time
        readOnly: true
      status:
        title: Status
        description: The synchronisation status of the package.
        type: integer
        enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        readOnly: true
      status_reason:
        title: Status reason
        description: A textual description for the synchronous status reason (if any
        type: string
        readOnly: true
        x-nullable: true
      status_str:
        title: Status str
        type: string
        readOnly: true
      status_updated_at:
        title: Status updated at
        description: The datetime the package status was updated at.
        type: string
        format: date-time
        readOnly: true
      status_url:
        title: Status url
        type: string
        format: uri
        readOnly: true
      subtype:
        title: Subtype
        type: string
        readOnly: true
      summary:
        title: Summary
        description: A one-liner synopsis of this package.
        type: string
        readOnly: true
        x-nullable: true
      sync_finished_at:
        title: Sync finished at
        description: The datetime the package sync was finished at.
        type: string
        format: date-time
        readOnly: true
        x-nullable: true
      sync_progress:
        title: Sync progress
        description: Synchronisation progress (from 0-100)
        type: integer
        readOnly: true
      tags_automatic:
        $ref: '#/definitions/Tags'
      tags_immutable:
        $ref: '#/definitions/Tags'
      type_display:
        title: Type display
        type: string
        readOnly: true
      uploaded_at:
        title: Uploaded at
        description: The date this package was uploaded.
        type: string
        format: date-time
        readOnly: true
      uploader:
        title: Uploader
        type: string
        readOnly: true
        minLength: 1
      uploader_url:
        title: Uploader url
        type: string
        format: uri
        readOnly: true
      version:
        title: Version
        description: The raw version for this package.
        type: string
        maxLength: 255
      version_orig:
        title: Version orig
        type: string
        readOnly: true
      vulnerability_scan_results_url:
        title: Vulnerability scan results url
        type: string
        format: uri
        readOnly: true
  RubyPackageUploadRequest:
    required:
    - package_file
    type: object
    properties:
      package_file:
        title: Package file
        description: The primary file for the package.
        type: string
        minLength: 1
      republish:
        title: Republish
        description: If true, the uploaded package will overwrite any others with the same attributes (e.g. same version); otherwise, it will be flagged as a duplicate.
        type: boolean
      tags:
        title: Tags
        description: A comma-separated values list of tags to add to the package.
        type: string
        maxLength: 1024
        minLength: 1
        x-nullable: true
  CargoPackageUpload:
    type: object
    properties:
      architectures:
        type: array
        items:
          $ref: '#/definitions/Architecture'
        readOnly: true
      cdn_url:
        title: Cdn url
        type: string
        readOnly: true
        x-nullable: true
      checksum_md5:
        title: Checksum md5
        type: string
        readOnly: true
      checksum_sha1:
        title: Checksum sha1
        type: string
        readOnly: true
      checksum_sha256:
        title: Checksum sha256
        type: string
        readOnly: true
      checksum_sha512:
        title: Checksum sha512
        type: string
        readOnly: true
      dependencies_checksum_md5:
        title: Dependencies checksum md5
        description: A checksum of all of the package's dependencies.
        type: string
        readOnly: true
        x-nullable: true
      dependencies_url:
        title: Dependencies url
        type: string
        format: uri
        readOnly: true
      description:
        title: Description
        description: A textual description of this package.
        type: string
        readOnly: true
        x-nullable: true
      display_name:
        title: Display name
        type: string
        readOnly: true
      distro:
        $ref: '#/definitions/Distribution'
      distro_version:
        $ref: '#/definitions/DistributionVersion'
      downloads:
        title: Downloads
        type: integer
        readOnly: true
      epoch:
        title: Epoch
        description: The epoch of the package version (if any).
        type: integer
        readOnly: true
        x-nullable: true
      extension:
        title: Extension
        type: string
        readOnly: true
      filename:
        title: Filename
        type: string
        readOnly: true
        minLength: 1
      files:
        type: array
        items:
          $ref: '#/definitions/PackageFile'
        readOnly: true
      format:
        title: Format
        type: string
        readOnly: true
        minLength: 1
      format_url:
        title: Format url
        type: string
        format: uri
        readOnly: true
      freeable_storage:
        title: Freeable storage
        description: Amount of storage that will be freed if this package is deleted
        type: integer
        readOnly: true
      fully_qualified_name:
        title: Fully qualified name
        type: string
        readOnly: true
        minLength: 1
        x-nullable: true
      identifier_perm:
        title: Identifier perm
        description: Unique and permanent identifier for the package.
        type: string
        readOnly: true
        minLength: 1
      identifiers:
        title: Identifiers
        description: Return a map of identifier field names and their values.
        type: object
        additionalProperties:
          type: string
          x-nullable: true
        readOnly: true
      indexed:
        title: Indexed
        type: boolean
        readOnly: true
      is_cancellable:
        title: Is cancellable
        type: boolean
        readOnly: true
      is_copyable:
        title: Is copyable
        type: boolean
        readOnly: true
      is_deleteable:
        title: Is deleteable
        type: boolean
        readOnly: true
      is_downloadable:
        title: Is downloadable
        type: boolean
        readOnly: true
      is_moveable:
        title: Is moveable
        type: boolean
        readOnly: true
      is_quarantinable:
        title: Is quarantinable
        type: boolean
        readOnly: true
      is_quarantined:
        title: Is quarantined
        type: boolean
        readOnly: true
      is_resyncable:
        title: Is resyncable
        type: boolean
        readOnly: true
      is_security_scannable:
        title: Is security scannable
        type: boolean
        readOnly: true
      is_sync_awaiting:
        title: Is sync awaiting
        type: boolean
        readOnly: true
      is_sync_completed:
        title: Is sync completed
        type: boolean
        readOnly: true
      is_sync_failed:
        title: Is sync failed
        type: boolean
        readOnly: true
      is_sync_in_flight:
        title: Is sync in flight
        type: boolean
        readOnly: true
      is_sync_in_progress:
        title: Is sync in progress
        type: boolean
        readOnly: true
      license:
        title: License
        description: The license of this package.
        type: string
        readOnly: true
        x-nullable: true
      name:
        title: Name
        description: The name of this package.
        type: string
        readOnly: true
        x-nullable: true
      namespace:
        title: Namespace
        type: string
        readOnly: true
        minLength: 1
      namespace_url:
[...]
